{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Scheduler settings
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Settings</h1>

      {{ render_form(form) }}

      <form action="/logout" class="pt-5 pb-2">
        <button class="btn btn-danger" type="submit">Disable Scheduler</button>
      </form>

    </div>
  </div>
</div>

<script>
  $( '#groups' ).select2( {
    theme: "bootstrap-5",
    width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
    placeholder: $( this ).data( 'placeholder' ),
    closeOnSelect: false,
} );
</script>

{% endblock %}
