{% extends 'base.html' %}

{% block title %}
Scheduler settings
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

        <h2 class="pt-5 pb-2">Success! You've just completed setup.<br><br></h2>

        <h6>(High five!)<br><br>

        (Or, if you're not into high-fives, you can just give yourself a pat on the back)<br><br></h6>

        <div class="alert alert-success" role="alert">{{ message }}</div>
    </div>
  </div>
</div>
{% endblock %}

